mypractice/calculatorService/SOA/Schemas/subtractBPEL.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/mypractice/calculatorService/subtractBPEL"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="numA" type="integer"/>
                                <element name="numB" type="integer"/>
			</sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="result" type="integer"/>
			</sequence>
		</complexType>
	</element>
</schema>