mypractice/InsertData/SOA/Schemas/InsertDBBPEL.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/mypractice/InsertData/InsertDBBPEL"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="num" type="integer"/>
                                <element name="name" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>