mypractice/Error/SOA/Schemas/faultAuditLogReference_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/faultAuditLogReference" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/faultAuditLogReference" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="FaultAuditLogCollection" type="FaultAuditLogCollection"/>
   <xs:complexType name="FaultAuditLogCollection">
      <xs:sequence>
         <xs:element name="FaultAuditLog" type="FaultAuditLog" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FaultAuditLog">
      <xs:sequence>
         <xs:element name="flowid" type="xs:int"/>
         <xs:element name="faultCode" type="string255" minOccurs="0" nillable="true"/>
         <xs:element name="faultSummery" type="string255" minOccurs="0" nillable="true"/>
         <xs:element name="faultDetails" type="string255" minOccurs="0" nillable="true"/>
         <xs:element name="attribute1" type="string255" minOccurs="0" nillable="true"/>
         <xs:element name="attribute2" type="string255" minOccurs="0" nillable="true"/>
         <xs:element name="attribute3" type="string255" minOccurs="0" nillable="true"/>
         <xs:element name="attribute4" type="string255" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string255">
      <xs:restriction base="xs:string">
         <xs:maxLength value="255"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
