mypractice/distributiobTrans/SOA/Schemas/dbReference_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbReference" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbReference" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="DistributedtransactionCollection" type="DistributedtransactionCollection"/>
   <xs:complexType name="DistributedtransactionCollection">
      <xs:sequence>
         <xs:element name="Distributedtransaction" type="Distributedtransaction" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Distributedtransaction">
      <xs:sequence>
         <xs:element name="num" type="xs:int"/>
         <xs:element name="name" type="xs:string" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
